#html,body{
   height: 100%;
   width: 100%;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SF PRO DISPLAY;

}

#main{
    position: relative;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
    background-image: url(https://www.apple.com/v/apple-vision-pro/b/images/overview/hero/hero_startframe__k6x4mt11vf2u_large_2x.jpg);
}

#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: white;
}

#page1>nav{
    height: 7.5vh;
    width: 70vw;
    position: absolute;
    background-color: black;
    top: 0%;
    left: 50%;
    transform: translate(-50%)
}

#innernav{
    height: 3vh;
    background-color: black;
    position: absolute;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

#innernav i{
    color: #CCCCCC; 
    display: flex;
    gap: 20px;
}

#icons{
    display: flex;
    height: 3vh;
    width: 8%;
    justify-content: space-around;
    position: relative;
    gap: 19px;
    align-items:flex-end;
    padding-left: 18px;
    background-color: black;
    bottom: 4px;
}

#appleicon{
    width: 4%;
    align-items: center;
}

#innernav>ul{
    display: flex;
    color: #CCCCCC;
    gap: 30px;
    font-size: 15px;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#outernav>p{
    color: #CCCCCC;
    display: flex;
    padding-top: 31px;
    font-size: 22px;
    padding-left: 99px;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

#rightouter{
    display: flex;
    /* padding-top: 30px; */
    margin-top: -75px;
    color: #CCCCCC;
    background-color:black;
    padding-left: 670px;
    gap: 30px;
    font-size: 15px;
}

#rightouter>button{
    color: white;
    background-color: #137CE5;
    border-radius: 50px;
    font-size: 14px;
    padding: 7px;
    margin-top: -5px;
    border: none;
    width: 5vw;
    font-family: Arial, Helvetica, sans-serif;
}

video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

#page1-bottom{
    height: 20%;
    width: 25%;
    background-color: none;
    position: absolute;
    top: 650px;
    left: 600px;
}

#page1-bottom>p{
    color: #6E6E73;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-top: 10px;
}

#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page2Head{
    font-size: 28px;
    color: white;
    font-weight: 200;
    bottom: 50%;
    left: 19%;
    white-space: nowrap;
    background-color: none;
    position: absolute;
    z-index: 1;
    font-family: SF PRO DISPLAY;
}

#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
}

#page3>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3Head{
    font-size: 26px;
    color: white;
    bottom: 50%;
    left: 26%;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    text-align: center;
}

#page4{
    height: 100vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
}

#page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4Head{
    font-size: 26px;
    color: white;
    bottom: 50%;
    left: 26%;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    text-align: center;
}

#page5{
    height: 100vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
}

#page5>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page5Head{
    font-size: 26px;
    color: white;
    bottom: 50%;
    left: 26%;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    text-align: center;
}

#page6{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: relative;
}

#page6>img{
    position: absolute;
    left: 35%;
    top: 13%;
}

#playbutton{
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
  font-size: 29px;
  left: 700px;
  top: 230px;
  color: rgba(234, 113, 46, 1);
  font-weight: 600;
}

#playbutton>i{
    color: rgba(234, 113, 46, 1);
    height: 30px;
    width: 30px;
}

#guideButton{
    position: absolute;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    left: 665px;
    top: 280px;
    color: rgba(234, 113, 46, 1);
    font-weight: 600;
}

#guideButton>i{
    color: rgba(234, 113, 46, 1);
    height: 80px;
    width: 380px;
}

#apple-vision-pro{
    width: 60%;
    position: absolute;
    background-color: none;
    transform: translate(-23%,50%);
}

#page6>button{
    position: absolute;
    border-radius: 50px;
    border-style:solid;
    font-size: 23px;
    background-color: white;
    padding: 10px 30px;
    left: 690px;
    top: 800px;
    border-width: 4px;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#page7{
    height: 100vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
}

#page7p{
    z-index: 1;
    font-size: 80px;
    position: absolute;
    background-color:none;
    color: white;
    top: 230px;
    left: 380px;
    text-align: center;
    font-weight: 900;
}

#page8{
    height: 50vh;
    width: 100vw;
    position: relative;
    background-color:white ;
}

#left{
    color: black;
    font-size: 28px;
    position: absolute;
    left: 300px;
    top: 100px;
}

#right{
    position: absolute;
    color: #86868B;
    left: 770px;
    top: 100px;
    font-size: 25px;
    font-weight: 500; 
}

#right>button{
    background-color: #FF6C2C;
    border-radius: 30px;
    border-style: none;
    padding: 10px 20px;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 230px;
    left:-5px;
    font-weight: 550;
}

#page9{
    height: 70vh;
    width: 100vw;
    position: relative;
    background-color:#F5F5F7 ;
}

#page9content{
    text-align: center;
    position: absolute;
    top: 140px;
    left: 440px;
}

#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page10>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}

#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page11>h1{
    position: absolute;
    width: 800px;
    height: 500px;
    font-size: 20px;
    font-weight: 500;
    color: #86868B;
    padding-left: 270px;
    font-weight: 600;
    z-index: 99;
}

#page11>h1>span{
    color: black;
}

#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page12>h1{
    position: absolute;
    width: 100vw;
    height: 500px;
    font-size: 20px;
    font-weight: 500;
    color: #86868B;
    padding-left: 1100px;
    font-weight: 600;
    z-index: 99;
}

#page12>h1>span{
    color: black;
}

#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page13>h1{
    position: absolute;
    width: 100vw;
    height: 500px;
    font-size: 20px;
    font-weight: 500;
    color: #86868B;
    padding-left: 270px;
    font-weight: 600;
    z-index: 99;
}

#page13>h1>span{
    color: black;
}

#page14{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page14>h1{
    position: absolute;
    width: 100vw;
    height: 500px;
    font-size: 20px;
    font-weight: 500;
    color: #86868B;
    padding-left: 270px;
    font-weight: 600;
    z-index: 99;
}

#page14>h1>span{
    color: black;
}

#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page15>h1{
    position: absolute;
    width: 100vw;
    height: 500px;
    font-size: 20px;
    font-weight: 500;
    color: #86868B;
    padding-left: 1100px;
    font-weight: 600;
    z-index: 99;
}

#page15>h1>span{
    color: black;
}

#page16{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page16>h1{
    position: absolute;
    width: 100vw;
    height: 500px;
    font-size: 20px;
    font-weight: 500;
    color: #86868B;
    padding-left: 270px;
    font-weight: 600;
    z-index: 99;
}

#page16>h1>span{
    color: black;
}

#page17{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    position: relative;
}

#p17left{
    height: 90%;
    width: 50%;
    position: relative;
}

#p17right{
    height: 90%;
    width: 50%;
    position: relative;
}

#p17left>img{
    height: 100vh;
    width: 50vw;
    padding-left: 60px;
    padding-right: 20px;
}

#p17right>img{
    height: 100vh;
    width: 50vw;
    padding-right: 60px;
    padding-left: 20px;
}

#page18{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: relative;
    box-sizing: border-box;
}

#page18>video{
    padding: 40px 59px;

}

#page19{
    height: 170vh;
    width: 100vw;
    position: relative;
    background-color: white;
    font-size: 11px;
    line-height: 27px;
    top: 150px;
    text-align: center;
}

#page19>h1{
    color: #86868B;
}

#page19>h1>span{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#page19>img{
    height: 900px;
    position: absolute;
    top: 320px;
    right: 300px;
}

#page19>button{
    position: absolute;
    bottom: 400px;
    right: 670px;
    border-style: none;
    background-color: #FF6C2C;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#page20{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
    /* background-color: black; */
}

#page20>canvas{
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    /* z-index: 99; */
}